<% @ideas.each do |idea| %>
<div class="promotion-idea">
  <div class="promotion-imessage"> 
	<h2>
	  <span><%= link_to idea.title,idea,:title => idea.title %></span>
	</h2>
	<div>发布于&nbsp;<%= l idea.created_at,:format => :long %> 由&nbsp;<%= link_to idea.user.username,user_path(idea.user) %></div>
	<div class="entry"><p><%= raw RedCloth.new(idea.description,[:filter_html]).to_html %></p></div>
  </div>
</div>
<% end %>
