<div class="row">
  <div class="span2 offset7">
	<select class="span2">
	  <option>最新的</option>
	  <option>24小时内最热门的</option>
	</select>
  </div>
</div>
<%= render @ideas %>
<%= will_paginate @ideas,:class => "pagination pagination-right",:id => "ideas-pagination",:params => {:controller => "ideas",:action => "tab"} %>
