<% if @ideas.empty? %>
<p style="text-align:center">抱歉，没有结果。</p>
<% else %>
  <%= render @ideas %>
  <%= will_paginate @ideas,:class => "pagination pagination-right",:id => "ideas-pagination",:params => {:controller => "ideas",:action => "tab"} %>
<% end %>
