<% title "话题管理 - 控制面板" %>
<%= render :partial => "common/dashboard_menu",:locals => {:which_menu => "topic" } %>
<div class="span9" id="admin-main">
  <div class="page-header">
    <h1>话题管理</h1>
  </div>
  <p><%= link_to "新增话题",new_topic_path,:class => "btn btn-primary",:id => "new-topic" %></p>
  <table class="table table-bordered">
    <thead>
	  <tr>
	    <th>话题名称</th>
	    <th>主意数量</th>
	   <th>操作</th>
	  </tr>
    </thead>
    <tbody id="topics">
      <%= render @topics %>
    </tbody>
  </table>
</div>
