<div class="span10 offset1">
  <div class="page-header">
    <h1>消息</h1>
  </div>
  <% @messages.each do |message| %>
  <div class="row">
    <div class="span8"><%= raw message.content %></div>
    <div class="span2"><span class="shallow"><%= distance_of_time_in_words_to_now message.created_at %></span></div>
  </div>
  <hr/>
  <% end %>
</div>
