<div class="span10 offset1">
  <div class="page-header">
    <h1>消息</h1>
  </div>
  <div class="row">
    <div class="span10">
      <table class="table table-bordered table-condensed">
        <% @messages.each do |message| %>
          <tr><td><%= message_link_tag message %></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
