<footer>
  <ul class="unstyled footer-nav">
	<li><a href="http://www.ideasbulb.com">IdeasBulb</a></li>
	<li><a href="https://github.com/danjiang/ideasbulb">Github</a></li>
	<li><a href="http://www.danthought.com/">开发者博客</a></li>
  </ul>
</footer>
