<footer>
  <ul class="unstyled footer-nav">
	<li>Powered By <a href="http://www.ideasbulb.com"><%= image_tag("logo_right.png") %></a></li>
  </ul>
  <div class="indicator" style="display:none"></div>
</footer>
